<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 ml-auto mr-auto mx-auto">
    <form [formGroup]="loginForm" (ngSubmit)="onResetPassword()">
      <div class="card card-login">
        <div class="card-header card-header-rose text-center">
          <h4 class="card-title">NOUVEAU MOT DE PASSE</h4>
        </div>
        <div class="card-body ">
          <p class="card-description text-center">Changer mot de passe</p>
          <mat-form-field appearance="outline">
            <mat-label>Login</mat-label>
            <input readonly matInput id="inputEmail" formControlName="login" type="email" [ngClass]="{'is-invalid': f?.login?.touched && f?.login?.invalid}">
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="f?.login?.errors && f?.login?.touched">
              <small *ngIf="f?.login?.hasError('required')">Login <strong>obligatoire!</strong></small>
              <small *ngIf="!f?.login?.hasError('required')">Login <strong>non conforme!</strong></small>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" [ngStyle]="{'border-radius': 0}">
            <mat-label>Mot de passe</mat-label>
            <input matInput id="inputPassword" autocomplete="on" formControlName="newPassword" [type]="hide ? 'password' : 'text'" placeholder="Mot de passe" [ngClass]="{'is-invalid': f?.newPassword?.touched && f?.newPassword?.invalid}">
            <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Masquer mot de passe'" [attr.aria-pressed]="hide">
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>

            <mat-error *ngIf="f?.newPassword?.errors && f?.newPassword?.touched">
              <small *ngIf="f?.newPassword?.hasError('required')">Nouveau mot de passe <strong>obligatoire!</strong></small>
              <small *ngIf="!f?.newPassword?.hasError('required')">Nouveau mot de passe <strong>non conforme!</strong></small>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" [ngStyle]="{'border-radius': 0}">
            <mat-label>Confirmation Mot de passe</mat-label>
            <input matInput id="inputnewPasswordConfirm" autocomplete="on" formControlName="newPasswordConfirm" [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Mot de passe" [ngClass]="{'is-invalid': f?.newPasswordConfirm?.touched && f?.newPasswordConfirm?.invalid}">
            <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Masquer mot de passe'" [attr.aria-pressed]="hide">
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>

            <mat-error *ngIf="f?.newPasswordConfirm?.errors && f?.newPasswordConfirm?.touched">
              <small *ngIf="f?.newPasswordConfirm?.hasError('required')">Confirmation mot de passe <strong>obligatoire!</strong></small>
              <small *ngIf="!f?.newPasswordConfirm?.hasError('required')">Confirmation mot de passe <strong>non conforme!</strong></small>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="card-footer justify-content-center">
          <button class="btn btn-lg btn-block" type="submit">Valider</button>
          <br>
        </div>
      </div>
    </form>

  </div>
</div>
