<div class="row bg-white shadow-lg rounded-3 overflow-hidden login">
    <div class="col-lg-6" style="padding: 80px;">
        <form>
            <div class="d-flex flex-column m-0">
                <span id="logo"><img src="{{'assets/images/logo.png'}}" alt="Gainde2000" width="162px"></span>
                <h5 class="text-center">Réinitialisation mot de passe</h5>
        
                <div class="row mb-4">
                    <label class="form-label p-0">Email</label>
                    <div class="input-group input-icon p-0">
                        <input type="text" class="form-control" placeholder="Email" value="email.utilisateur.a-rapatrier@yopmail.com" disabled>
                        <i  class="fa fa-envelope"></i>
                    </div>
                </div>
        
                <div class="row mb-4">
                    <label class="form-label p-0">Nouveau mot de passe</label>
                    <div class="input-group input-icon p-0">
                        <input [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Nouveau mot de passe">
                        <i [ngClass]="hide ? 'fa fa-eye': 'fa fa-eye-slash'" (click)="hide = !hide"></i>
                    </div>
                </div>
        
                <div class="row mb-4">
                    <label class="form-label p-0">Confirmer le mot de passe</label>
                    <div class="input-group input-icon p-0">
                        <input [type]="hide2 ? 'password' : 'text'" class="form-control" placeholder="Confirmer le mot de passe">
                        <i [ngClass]="hide2 ? 'fa fa-eye': 'fa fa-eye-slash'" (click)="hide2 = !hide2"></i>
                    </div>
                </div>
        
                <div class="row">
                    <button class="button-blue" type="button" (click)="ResetPassword()">Soumettre</button>
                </div>
            </div>
        
        </form>
    </div>
    <div class="col-lg-6 bg-light p-0 m-0 bg-right text-white p-5 d-lg-block d-none">
        <h3 class="title-img">Dématérialisation <br>
            de la fiche de dotation <br>
            et du suivi du matériel</h3>
    </div>
</div>

