
<div class="row bg-white shadow-lg rounded-3 overflow-hidden login">
    <div class="col-lg-6" style="padding: 80px;">
        <form>
            <div class="d-flex flex-column m-0">
                <span id="logo"><img src="{{'assets/images/logo.png'}}" alt="Gainde2000" width="162px"></span>
                <h5 class="text-center">Mot de passe oublié</h5>
        
                <div class="row mb-4">
                    <label class="form-label p-0">Email</label>
                    <div class="input-group input-icon p-0">
                        <input type="text" class="form-control" placeholder="Email">
                        <i  class="fa fa-envelope"></i>
                    </div>
                </div>
        
        
                <div class="row">
                    <button class="button-blue" type="button" (click)="ResetPassword()">Valider</button>
                </div>
        
                <div class="form-group row mt-4">
                    <a routerLink="../login" class="nav-link"><i class="fa fa-arrow-left"></i> Retour à la page de connexion</a>
                </div>
            </div>
        
        </form>
    </div>
    <div class="col-lg-6 bg-light p-0 m-0 bg-right text-white p-5 d-lg-block d-none">
        <h3 class="title-img">Dématérialisation <br>
            de la fiche de dotation <br>
            et du suivi du matériel</h3>
    </div>
</div>

<div class="modal fade" id="submitForm" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body popup-confirmation">
                <i class="fa fa-check-circle text-success fa-5x text-center pb-4"></i>
                <h5 id="exampleModalToggleLabel2">Réinitialisation</h5>
                <span>Un e-mail de réinitialisation a été envoyé à votre adresse. Suivez les intructions fournies
                    pour réinitialiser votre mot de passe.</span>
            </div>
            <div class="modal-footer popup-confirmation-footer">
                <a routerLink="../reset-password" type="submit" class="button-light">Fermer</a>
            </div>
        </div>
    </div>
</div>