<nav class="breadcrumb-layout"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="javascript:(0)">
                <i class="fa fa-list me-2"></i>
                <span>Reférencement Matériel</span>
            </a>
        </li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Library</li> -->
    </ol>
</nav>

<div class="table-title row mt-3">
    <div class="col-lg-3">
        <h5>Liste des matériels</h5>
    </div>

    <div class="col-lg-9">
        <div class="table-actions">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="" disabled selected>Filter par etat</option>
                <option *ngFor="let item of etat" [value]="item.value">{{ item.value | titlecase }}</option>
            </select>

            <input type="text" class="form-control form-control-sm" type="date" placeholder="Date d'aquisition" >

            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="" disabled selected>Type de matériel</option>
                <option *ngFor="let item of typeMateriel" [value]="item.value">{{ item.value | titlecase }}</option>
            </select>
            <input type="text" class="form-control form-control-sm" placeholder="Date d'achat" type="text" onfocus="(this.type='date')" onblur="(this.type='text')">
            <button class="btn btn-sm btn-outline-danger btn-export"> <i class="fa fa-file-pdf"></i> Exporter PDF</button>
            <button class="btn btn-sm btn-outline-success btn-export"> <i class=" fa fa-file-excel"></i> Exporter Excel</button>
        </div>
    </div>
</div>
<!-- TABLEAU -->
<div class="table-responsive">
    <table class="table shadow-sm mt-4">
        <thead>
            <tr>
                <th scope="col">Désignation</th>
                <th scope="col">Type de matériel</th>
                <th scope="col">Fournisseur</th>
                <th scope="col">Marque</th>
                <th scope="col">Modèle</th>
                <th scope="col">N° série</th>
                <th scope="col">Etat</th>
                <th scope="col">Statut</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of materiels">
                <td>Otto</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>
                    <p class="etats">
                        <span [appStatus]="item.etat" class="etat-materiel"></span>
                    </p>
                </td>
                <td>
                    <span [appStatusMateriel]="item.statutMateriel" class="status-materiel"></span>
                </td>
                <td [width]="'10%'">
                    <a [routerLink]="[item.id,'details-renferencement']" title="Détails du matériel">
                        <span class="fa fa-eye text-black-50"></span>
                    </a>
                    <a [routerLink]="[item.id,'nouveau-renferencement']" title="Reférencier" class="ms-2">
                        <span><img src="{{'assets/icons/ref-mat.svg'}}" alt="Reférencement Matériel"></span>
                    </a>
                    <a [routerLink]="[item.id,'nouvel-affectation']" title="Affecter" class="ms-2">
                        <span><img src="{{'assets/icons/aff-mat.svg'}}" alt="Affectation Matériel"></span>
                    </a>
                    <a [routerLink]="[item.id,'recuperation']" title="Recupérer" class="ms-2">
                        <span><img src="{{'assets/icons/recuperation.svg'}}" alt="Recuperation Matériel"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="d-flex justify-content-between p-2">

        <div class="d-flex">
            <span class="me-3">Affichage par</span>
            <select class="form-select form-select-sm" style="width: auto;height: 30px;" [(ngModel)]="pageSize"
                (ngModelChange)="refreshMateriels()">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="20">20</option>
            </select>
        </div>

        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refreshMateriels()" style="height: 20px !important;">
        </ngb-pagination>
    </div>
</div>
