<nav class="breadcrumb-layout"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">
                <i class="fa fa-list me-2"></i>
                <span>Intervenants</span>
            </a>
        </li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Library</li> -->
    </ol>
</nav>

<!-- TITRE ET FILTRE -->
<div class="table-title d-flex justify-content-between mt-3">
        <h5>Liste des intervenants</h5>

        <button class="btn btn-sm btn-outline-primary" (click)="addMateriel()"> <i class=" fa fa-add"></i>
            Utilisateur</button>
</div>
<!-- TABLEAU -->
<div class="table-responsive">
    <table class="table shadow-sm mt-4">
        <thead>
            <tr>
                <th scope="col">Matricule</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Entité</th>
                <th scope="col">Profil</th>
                <th scope="col">Statut</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of utilisateurs">
                <td>{{ user.matricule }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.entite }}</td>
                <td>{{ user.profil }}</td>
                <td>
                    <p class="etats">
                        <span [appStatus]="user.status" class="etat-materiel"></span>
                    </p>
                </td>
                <td [width]="'10%'">
                    <ng-container *ngIf="user.status == 'Actif'">
                        <i class="fa fa-lock-open text-green" title="Bloqué" id="status" (click)="changeStatus(user)" type="button"></i>
                    </ng-container>

                    <ng-container *ngIf="user.status == 'Inactif'">
                        <i class="fa fa-lock text-danger" title="Débloqué"  id="status" (click)="changeStatus(user)" type="button"></i>
                    </ng-container>

                    <a [routerLink]="[user.matricule,'modifier-utilisateur']" title="Modifier">
                        <span class="fa fa-edit tx-blue mx-3"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="d-flex justify-content-between p-2">
        <div class="d-flex">
            <span class="me-3">Affichage par</span>
            <select class="form-select form-select-sm" style="width: auto;height: 30px;" [(ngModel)]="pageSize"
                (ngModelChange)="refreshUtilisateurs()">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="20">20</option>
            </select>
        </div>

        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refreshUtilisateurs()" style="height: 20px !important;">
        </ngb-pagination>
    </div>
</div>
