<nav class="breadcrumb-layout mb-3"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="../../../liste-des-materiels">
                <i class="fa fa-list me-2"></i>
                <span>Référencement Matériel</span>
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Détails N°1</li>
    </ol>
</nav>


<div class="shadow-custom p-4 rounded-2">
    <h5>Détails  du matériel</h5>
    <div class="row details g-3 mt-2">
        <div class="col-lg-4">
            <div class="details-item">
                <p class="details-item-title">Référence fiche  </p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="details-item">
                <p class="details-item-title">Désignation du materiel</p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="details-item">
                <p class="details-item-title">Référence commercial du materiel</p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <hr>
        <div class="col-lg-4">
            <div class="details-item">
                <p class="details-item-title">Adresse Mac du materiel</p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="details-item">
                <p class="details-item-title">Référence interne matériel</p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="details-item">
                <p class="details-item-title">Objet dotation</p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <hr>
        <div class="col-lg-4">
            <div class="details-item">
                <p class="details-item-title">Date dotation</p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="details-item">
                <p class="details-item-title">Date prévue retour</p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="details-item">
                <p class="details-item-title">Référence commercial du materiel</p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
</div>

<div class="shadow-custom rounded-2 my-4">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Référencement Matériel">
            <ng-template ngbPanelContent>
                <app-edit-referencement></app-edit-referencement>
            </ng-template>
        </ngb-panel>
        <ngb-panel title="Affectation Matériel">
            <ng-template ngbPanelContent>
                <app-edit-affectation></app-edit-affectation>
            </ng-template>
        </ngb-panel>
        <ngb-panel title="Récupération Matériel">
            <ng-template ngbPanelContent>
                <app-edit-recuperation></app-edit-recuperation>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
