<nav class="breadcrumb-layout mb-3"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="../../liste-des-materiels">
                <i class="fa fa-list me-2"></i>
                <span>Enregistrement Matériel</span>
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-plus me-2"></i>Nouveau Matériel</li>
    </ol>
</nav>

<div class="shadow-custom p-4 rounded-2">
    <h5>Nouveau Matériel</h5>
    <form [formGroup]="formAdd" (ngSubmit)="addMateriel()">
        <div class="row g-4 mt-2">
            <div class="col-lg-3">
                <label class="form-label">Désignation du matériel</label>
                <input type="text" class="form-control" formControlName="designation" required>
            </div>
            <div class="col-lg-3">
                <label class="form-label">Description du matériel</label>
                <input type="text" class="form-control" formControlName="description" required>
            </div>
            <div class="col-lg-3">
                <label class="form-label">Type de matériel</label>
                <select class="form-select" formControlName="typeImmobilisation">
                    <option [value]="">Sélectionnez le Type de matériel</option>
                    <option *ngFor="let typemateriel of typeMateriels" [value]="typemateriel.id">{{ typemateriel.libelle }}</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label class="form-label">Marque</label>
                <input type="text" class="form-control" formControlName="marque" >
            </div>
            <div class="col-lg-3">
                <label class="form-label">Modèle</label>
                <input type="text" class="form-control" formControlName="modele" >
            </div>
            <div class="col-lg-3">
                <label class="form-label">Accessoires associés</label>
                <input type="text" class="form-control" formControlName="accessoires">
            </div>
            <div class="col-lg-3">
                <label class="form-label">Fournisseur</label>
                <input type="text" class="form-control" formControlName="fournisseur" required>
            </div>
            <div class="col-lg-3">
                <label class="form-label">Prix d’acquisition</label>
                <input type="number" class="form-control" formControlName="prixAcquisition" required>
            </div>
            <div class="col-lg-3">
                <label class="form-label">Date d’acquisition</label>
                <input type="date" class="form-control" formControlName="dateAcquisition" required>
            </div>
            <div class="col-lg-3">
                <label class="form-label">Duree Garantie du matériel</label>
                <input type="number" class="form-control" formControlName="dureeGarantie" required>
            </div>
            <div class="col-lg-3">
                <label class="form-label">Categorie du matériel</label>
                <select class="form-select" formControlName="catImmobilisation">
                    <option [value]="">Sélectionnez la categorie du matériel</option>
                    <option *ngFor="let catmateriel of categoriesMateriels" [value]="catmateriel.id">{{ catmateriel.libelle }}</option>
                </select>
            </div>
            <div class="col-lg-12">
                <div class="d-flex align-items-center">
                    <button class="button-blue me-3" type="submit">Enregistrer</button>
                    <button class="button-outline-blue" type="reset" (click)="annuler()">Annuler</button>
                </div>
            </div>
        </div>
    </form>
</div>