/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-blue: #1C5EAB;
    --color-gris: #1C5EAB;
    --color-text: #111111;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-blue {
    background-color: #1C5EAB;
}

.tx-blue {
    color: #1C5EAB !important;
}
.tx-yellow{
    color: #FAAD14;
}

.header-top {
    background: linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)), url("./assets/images/bg-header.png") no-repeat;
    padding: 30px;
    color: white;
    text-align: center;
    flex-direction: column;
}

.header-top h3 {
    line-height: 40px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.header-top #service {
    letter-spacing: 4px;
}

.header-bottom,
.header-bottom-menu,
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom {
    background: linear-gradient(90.04deg, #FFFFFF 11.98%, #1C5EAB 40.22%);
    color: white;
    height: 50px;
    width: 100%;
}

.header-bottom-menu .navbar-menu {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    position: relative;
}

.header-bottom-menu .navbar-menu li {
    list-style: none;
}

.header-bottom-menu .header-title {
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.header-bottom-menu .divide-y {
    background-color: white;
    width: 2px;
    height: 20px;
    border-radius: 4px;
}

.breadcrumb-layout {
    background: #FFFFFF;
    border: 0.25px solid #D9D9D9;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 6px 12px;
    color: #2c69b1
}

.breadcrumb-layout .breadcrumb {
    padding: 0;
    margin: 0;
}

.breadcrumb-layout a {
    text-decoration: none;
    color: #1C5EAB;
}

.table thead {
    background: #F5F5F5;
}

.etats {
    display: inline-block;
    position: relative;
}

.etat-materiel{
    position: relative;
    white-space: nowrap;
    padding-left: 20px;
}
.etat-actif::before,
.etat-alerte::before,
.etat-reforme::before
{
    content: "";
    display: block;
    position: absolute;
    /* left: -15px; */
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.etat-materiel::before{
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ddd;
}

.etat-actif::before {
    background: #52C41A;
}

.etat-alerte::before,
.etat-inactif::before
 {
    background: #FF4D4F;
}

.etat-reforme::before {
    background: #FAAD14;
}

.table-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 10px;
}

.table-actions button {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* NAV TABS  */
.nav-pills {
    margin-top: 15px;
    border-radius: 0 !important;
}

.nav-pills .nav-item {
    border: 1px solid rgba(17, 17, 17, 0.067);
}

.nav-link{
  cursor: pointer;
}

.nav-pills .nav-item .nav-link {
    color: var(--color-text);
    border-top: 2px solid #fff;
}

.nav-pills .nav-item .nav-link.active {
    color: var(--color-blue);
    background: rgba(28, 94, 171, 0.1);
    border-top: 2px solid #1C5EAB;
}

.btn-outline-primary {
    border: solid 1px var(--color-blue) !important;
    color: var(--color-blue) !important;
}

.btn-outline-primary:hover {
    background-color: var(--color-blue) !important;
    color: white !important;
}

.card-custom {
    background: #FFFFFF;
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    border: none !important;
    height: 100%;
}

.card-custom table {
    width: 100%;
}

.card-custom table tr td {
    float: left;
}

.card-custom table tr th {
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #000000;

}

.card-custom table tr {
    line-height: 30px;
}

.card-custom .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2F2F2;
    border-bottom: 2px solid #CED4DA;
}

.card-btn {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 0;
    padding: 0;
    margin: 0;
}

/* .card-btn-red i,
.card-btn-yellow i,
.card-btn-light i{
    width: 14px;
    height: 14px;
} */
.card-btn-red {
    background: rgba(255, 77, 79, 0.1);
}

.card-btn-red i {
    color: #FB1C04;
}

.card-btn-yellow {
    background: rgba(250, 173, 20, 0.1);
}

.card-btn-yellow i {
    color: #FAAD14;
}

.card-btn-light {
    background: #D9D9D9;
}

.card-btn-light i {
    color: #4B4848;
}

.details .details-item .details-item-title,
.details .details-item .details-item-value {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: 20px;
    color: #212529;
}

.details .details-item .details-item-title {
    font-weight: 300;
    font-size: 16px;
}

.details .details-item .details-item-value {
    font-weight: 500;
    font-size: 16px;
}

.button-blue,
.button-red,
.button-outline-blue {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    padding: 5px 20px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: 136px;
}

.button-blue {
    background-color: var(--color-blue);
    border: 2px solid var(--color-blue);
}

.button-blue:hover {
    transition: 1000ms;
    background-color: #fff;
    color: var(--color-blue);
    border: solid 2px var(--color-blue);
}

.button-outline-blue {
    background-color: white;
    border: 2px solid var(--color-blue);
    color: var(--color-blue);
}

.button-outline-blue:hover {
    transition: 1000ms;
    background-color: var(--color-blue);
    color: #fff;
    border: solid 2px var(--color-blue);
}

.box-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.button-red {
    background-color: #FF4D4F;
    border: 2px solid #FF4D4F;
}
.bg-right {
    background: linear-gradient(rgba(28, 94, 171, 0.3), rgba(28, 94, 171, 0.3)), url("./assets/images/bg-login-right.png") no-repeat;
    background-size: cover;
}

.title-img::before {
    display: block;
    width: 80px;
    height: 5px;
    background-color: white;
    content: "";
    margin-bottom: 20px;
}

.login #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.login h5 {
    margin-bottom: 20px;
}

.shadow-custom {
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.16);
}

.form-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #212529;
}

/* .input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ced4da !important;
  } */

select.form-select:focus,
textarea.form-control:focus,
input.form-control:focus {
    border-color: #CED4DA;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(0, 0, 0, 0.2);
    /* box-shadow: none !important; */
    /* box-shadow: 0 1px 5px -2px #42A5F5; */
    outline: 0 none;
    background: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-icon {
    position: relative;
}
.input-icon input{
    padding-right: 30px;
    overflow: hidden;
}
.input-icon i{
    position: absolute;
    right: 15px;
    color: #777777;
    top: 10px;
    cursor: pointer;
    z-index: 2;
}
.flex-basis-3 {
    flex-basis: calc(100% / 3);
}

.swal2-confirm,.swal2-cancel,.swal2-styled.swal2-confirm{
    padding: 8px 14px !important;
    font-size: 14px !important;
}
.swal2-styled.swal2-confirm{
    background-color: var(--color-blue) !important;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0 !important;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #0d6efd;
}

.pagination .page-item a.page-link{
    color: #333;
}
.pagination .page-item.active a{
    background-color: var(--color-blue) !important;
    color: #fff !important;
}
.pagination .page-item a:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: none !important;
}
.box-header{
    background-color: var(--color-blue);
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    color: white;
}

.text-green{
    color: #52C41A;
}
.dropdown-item.active{
    background-color: var(--color-blue) !important;
}

.acceptation,
.signalisation,
.details-btn{
    padding: 4px 10px;
    font-size: 13px;
    border-radius: 4px;
    transition: all .3s;
    cursor: pointer;
}
.acceptation{
    background: #198754;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.signalisation{
    background: #FF4D4F;
    color:  white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.signalisation:hover,
.acceptation:hover,
.details-btn:hover
{
    transform: scale(1.02);
}
.details-btn{
    background: #F5F5F5;
    color:  #82858A;
    border: 1px solid #82858A;
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.16);
}
.details-btn:hover{
   color: var(--color-blue);
   background: rgba(28, 94, 171, 0.1);
   transform: scale(1.02);
}
.btn-export{
    white-space:nowrap;
}
.accordion-header .accordion-button[aria-expanded="true"]::after {
    font-family: FontAwesome;
    background:none;
    content: "\f068" !important;
}

.accordion-header .accordion-button[aria-expanded="false"]::after {
    font-family: FontAwesome;
    background:none;
    content: "\f067" !important;
}

.accordion-header .accordion-button:focus{
    border-color: #CED4DA;
    box-shadow: none !important;
    background-color: var(--color-blue);
    outline: 0 none;
    background: none;
}
/* .accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
} */
.status-materiel{
    background: #F5F5F5;
    border-radius: 100px;
    padding: 3px 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}
.status-materiel.affecter{
    color: #198754;
    background: rgba(25, 135, 84, 0.1)
}
.status-materiel.referencier{
    color: #1C5EAB;
    background: rgba(28, 94, 171, 0.1);
}
.status-materiel.non-referencier{
    color: rgba(0, 0, 0, 0.6);
    background: #F5F5F5;
}


/* Login constraints*/
.constraint{
  color: red;
  font-size: .7em;
  font-weight: bold
}

.input-constraint-border{
  border: 1px solid red;
  border-radius: 5px;
}


.trash-button{
  cursor: pointer;
}
