<h5>Modifier la récupération du matériel</h5>
<form class="row">
    <div class="col-lg-4">
        <label class="form-label">Date de retour</label>
        <input type="date" class="form-control" value="2022-12-30">
    </div>
    <div class="col-lg-8">
        <label class="form-label">Avis du Service Support Assistance</label>
        <input type="text" class="form-control" value="Lorem ispum dolor">
    </div>
    <div class="col-lg-12 mt-3">
        <div class="d-flex align-items-center">
            <button class="button-blue me-3" type="submit">Modifer</button>
            <button class="button-outline-blue" type="reset">Annuler</button>
        </div>
    </div>
</form>