<ng-template #changePasswordModal let-modal>
  <div class="p-4 col-lg-12 mx-auto">
    <div class="text-center">
      <h4 class="tx-blue mb-2">Réinitialisation mot de passe</h4>
      <p class="modal-title text-center" id="modal-basic-title">
        C'est votre première connexion. Vous devez changer votre mot de passe
      </p>
    </div>
    <hr />
    <div class="modal-body">
      <form>
        <div class="row mb-4">
          <label class="form-label p-0">Nouveau mot de passe</label>
          <div class="input-group input-icon p-0">
            <input [type]="hide ? 'password' : 'text'" class="form-control" />
            <i
              [ngClass]="hide ? 'fa fa-eye' : 'fa fa-eye-slash'"
              (click)="hide = !hide"
            ></i>
          </div>
        </div>

        <div class="row mb-4">
          <label class="form-label p-0">Confirmez le mot de passe</label>
          <div class="input-group input-icon p-0">
            <input [type]="hide2 ? 'password' : 'text'" class="form-control" />
            <i
              [ngClass]="hide2 ? 'fa fa-eye' : 'fa fa-eye-slash'"
              (click)="hide2 = !hide2"
            ></i>
          </div>
        </div>

        <div class="row mb-3">
          <button class="button-blue w-100" (click)="modal.close('Save click')">
            Enregistrer
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
