<nav class="breadcrumb-layout"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="javascript:(0)">
                <i class="fa fa-list me-2"></i>
                <span>Cessions</span>
            </a>
        </li>
    </ol>
</nav>

<div class="table-title row mt-3">
    <div class="col-lg-6">
        <h5>Liste des matériels</h5>
    </div>

    <div class="col-lg-6">
        <div class="table-actions">
            <input class="form-control form-control-sm" placeholder="Date d'achat" onfocus="(this.type='date')" onblur="(this.type='text')">
            <button class="btn btn-sm btn-outline-danger btn-export"> <i class="fa fa-file-pdf"></i> Exporter PDF</button>
            <button class="btn btn-sm btn-outline-success btn-export"> <i class=" fa fa-file-excel"></i> Exporter Excel</button>

        </div>
    </div>
</div>
<!-- TABLEAU -->
<div class="table-responsive">
    <table class="table shadow-sm mt-4">
        <thead>
            <tr>
                <th scope="col">Désignation</th>
                <th scope="col">Type de materiel</th>
                <th scope="col">Fournisseur</th>
                <th scope="col">Date achat</th>
                <th scope="col">Prix d'achat</th>
                <th scope="col">Etat</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of tableCessionliste">
                <td>{{item.designations}}</td>
                <td>{{item.typeMateriel}}</td>
                <td>{{item.founisseur}}</td>
                <td>{{item.dateAchat}}</td>
                <td>{{item.prixAchat}}</td>
                <td>
                    <p class="etats">
                        <span [appEtatMateriel]="item.etat" class="etat-materiel"></span>
                    </p>
                </td>
                <td [width]="'10%'">
                    <a [routerLink]="[item.id,'nouvelle-cession']" title="Ajouter une cession">
                        <span class="fa fa-file-circle-plus text-black-50 me-2"></span>
                    </a>
                    <a [routerLink]="[item.id,'modifier-affectation']" title="Modifier  une cession">
                        <span class="fa fa-edit tx-blue mx-2"></span>
                    </a>

                </td>
            </tr>
        </tbody>

    </table>


</div>

<div class="d-flex justify-content-between p-2">
    <div class="d-flex">
        <span class="me-3">Affichage par</span>
        <select class="form-select form-select-sm" style="width: auto;height: 30px;" [(ngModel)]="pageSize"
            (ngModelChange)="refreshMateriels()">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="20">20</option>
        </select>
    </div>

    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshMateriels()" style="height: 20px !important;">
    </ngb-pagination>
</div>
