<header class="header">
  <nav class="header-top">
    <h3 class="">suivi des immobilisations</h3>
    <!-- <p id="service">Support Technique</p> -->
  </nav>

  <nav class="header-bottom">
    <div class="container">
      <nav class="header-bottom-menu w-100">
        <a routerLink="/dashboard" class="flex-basis-3 w-100"
          ><img
            src="{{ 'assets/images/logo.png' }}"
            alt="Gainde 2000"
            title="Gainde 2000"
        /></a>

        <ul class="navbar-menu flex-basis-3">
          <li class="nav-item">
            <a
              routerLink="/dashboard"
              routerLinkActive="active"
              class="nav-link"
              title="Tableau de bord"
            >
              <span class="d-lg-block d-none" style="white-space: nowrap"
                >Tableau de bord</span
              >
              <i class="fa fa-home d-lg-none d-block"></i>
            </a>
            <!-- <a routerLink="/gestion-des-actifs" class="header-title flex-basis-3 d-flex justify-content-center w-100">Gestion des matériels</a> -->
          </li>
          <li class="nav-item">|</li>
          <li class="nav-item">
            <a
              [routerLink]="[dynamicLink]"
              routerLinkActive="active"
              class="nav-link"
              title="Gestion des matériels"
            >
              <span class="d-lg-block d-none" style="white-space: nowrap"
                >Gestion des matériels</span
              >
              <i class="fa fa-window-restore d-lg-none d-block"></i>
            </a>
          </li>
        </ul>

        <ul class="navbar-menu flex-basis-3 justify-content-end">
          <li class="nav-item">
            <a
              class="nav-link d-flex justify-content-center align-items-center"
              routerLink="/gestion-des-utilisateurs/mon-compte"
              routerLinkActive="active"
            >
              <i class="me-2 fa fa-user"></i>
              <span class="d-lg-block d-none" style="white-space: nowrap">
                {{ userFullname }}
                <span
                  class="text-white-50"
                  [appDisplayRole]="authoritie"
                ></span>
              </span>
            </a>
          </li>
          <span class="divide-y"></span>
          <li class="nav-item">
            <div
              class="nav-link d-flex justify-content-center align-items-center"
              (click)="logOut()"
            >
              <i class="me-2 fa fa-sign-out"></i>
              <span class="d-lg-block d-none">Déconnexion</span>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </nav>
</header>
