<header class="header">
    <nav class="header-top">
        <h3 class="">suivi des immobilisations</h3>
        <!-- <p id="service">Support Technique</p> -->
    </nav>

    <nav class="header-bottom">
        <div class="container">
            <nav class="header-bottom-menu w-100">
                <a routerLink="/gestion-des-actifs" class="flex-basis-3 w-100"><img src="{{'assets/images/logo.png'}}" alt="Gainde 2000" title="Gainde 2000"></a>

                <a routerLink="/gestion-des-actifs" class="header-title flex-basis-3 d-flex justify-content-center w-100">Gestion des matériels</a>

                <ul class="navbar-menu flex-basis-3 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link d-flex justify-content-center align-items-center" routerLink="/gestion-des-utilisateurs/mon-compte">
                            <i class="me-2 fa fa-user"></i>
                            <span class="d-lg-block d-none" style="white-space:nowrap;">Lamine DIEME <span class="text-white-50">(Technique)</span> </span>
                            <!-- <div class="d-flex bg-black">
                                <span class="d-lg-block d-none">Lamine DIEME</span>
                                <span class="ms-1 text-white-50">(Support Technique)</span>
                            </div> -->
                           
                        </a>
                    </li>
                    <span class="divide-y"></span>
                    <li class="nav-item">
                        <a class="nav-link d-flex justify-content-center align-items-center" routerLink="/auth/login">
                            <i class="me-2 fa fa-sign-out"></i>
                            <span class="d-lg-block d-none">Déconnexion</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</header>


