<nav class="breadcrumb-layout mb-3"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="../../../liste-des-materiels">
                <i class="fa fa-list me-2"></i>
                <span>Récupération Matériel</span>
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-plus me-2"></i>Détails N° 1 </li>
    </ol>
</nav>


<div class="shadow-custom p-4 rounded-2">
    <h5>Détails  du matériel</h5>
    <div class="row details g-3 mt-2">
        <div class="col-lg-3">
            <div class="details-item">
                <p class="details-item-title">Référence fiche</p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="details-item">
                <p class="details-item-title">Désignation du matériel</p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="details-item">
                <p class="details-item-title">Identification fiche</p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="details-item">
                <p class="details-item-title">Référence commercial du materiel</p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <hr>
        <div class="col-lg-3">
            <div class="details-item">
                <p class="details-item-title">Adresse Mac du matériel</p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="details-item">
                <p class="details-item-title">Référencement interne materiel</p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="details-item">
                <p class="details-item-title">Objet dotation</p>
                <p class="details-item-value">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="details-item">
                <p class="details-item-title">Date dotation</p>
                <p class="details-item-value">28/12/2022</p>
            </div>
        </div>
        <hr>
        <div class="col-lg-3">
            <div class="details-item">
                <p class="details-item-title">Date prévue retour</p>
                <p class="details-item-value">05/01/2023</p>
            </div>
        </div>
    </div>
</div>

<div class="shadow-custom p-4 rounded-2 my-4">
    <div class="row details g-3">
        <div class="col-lg-4">
            <label class="form-label">Date de retour</label>
            <input type="date" class="form-control">
        </div>
        <div class="col-lg-8">
            <label class="form-label">Avis du Service Support Assistance</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-lg-12">
            <div class="d-flex align-items-center">
                <button class="button-blue me-3" type="submit">Enregistrer</button>
                <button class="button-outline-blue" type="reset">Annuler</button>
            </div>
        </div>

    </div>
</div>